@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


.spiderman-img-mobile{
    width: 100vw;
    height: auto;
    
    background-color: white;
    background-image: -webkit-linear-gradient(-44deg, red 50%,white 50%);
    min-height: 700px;
    
    
}


  


.spiderman-img-mobile img {
    max-width: 90%;
  height: auto;
  position: absolute;
  top: -800px;
  left:-10%;
  z-index: 1;
  
}

.spiderman-div{
  margin-top: 80px;
}

.spiderman-div h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  left: 45%;
  padding-top: 20px;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
}

.spider-info-div{
  position: absolute;
  margin: 0;
  top: 60%;
  left:60%;
  width: 35vw;
  font-weight: bold;
  
}

.spider-info-div h2,p{
  margin: 5px;
}

.spider-info-div h2{
  font-family: 'Bangers', cursive;
  border-bottom: 2px solid red;
}

.spiderman-comics h2 {
  font-family: 'Bangers', cursive;
  border-bottom: 2px solid red;
  width: 30vw;
  position: relative;
  left: 15vw;
}

.spider-comics-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.spider-comics-list li {
  list-style: none;
  text-align: center;
  width: 300px;
  margin: 30px;
}



.spider-comics-list li p {
  font-weight: bold;
}