@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.fullComponentMain {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../../Assets/fondo-mobile.jpg') ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-position-y:5px ;
  
}

  
.buttonMain {
    background: #ED1D24;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 3px #000000;
    border: none;
}

.mainH1{
  font-family: 'Anton', sans-serif;
  color: white;
  font-weight:bold;
  font-size: 3rem;
  width: 40vw;
  text-shadow: 2px 2px 3px #000000;
  letter-spacing: 2px;
}

.arrowsleft{
  display: none;
}

.mainComponentDiv{
  position: absolute;
  top: 15%;
  left: 10%;
  
}


@media screen and (min-width: 650px) {

  .fullComponentMain {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Assets/tablet-background.jpg')  ;
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
   
    
  }

  .mainComponentDiv{
    text-align: center;
    width: 100%;
    left: 0;
    top: 30%;
  }

  
  .mainH1{
    margin: auto;
    font-size: 4rem;
    width: 40vw;
    text-shadow: 2px 2px 3px #000000;
    letter-spacing: 2px;
  }

  body {
    background-position-y:0px ;
  }

  .arrowsleft{
    display: none;
  }

 }


 @media screen and (min-width: 950px) {

  .fullComponentMain {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Assets/pc-background.jpg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
   
    
  }


  .mainComponentDiv{
    text-align: center;
    width: 100%;
    left: 0;
    top: 40%;
  }
  .arrowsleft{
    display: inline;
  }

  

 }
