@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


.spiderman-img-mobile{
    width: 100vw;
    height: auto;
    
    background-color: white;
    background-image: -webkit-linear-gradient(-44deg, red 50%,white 50%);
    min-height: 700px;
    
    
}


  


.spiderman-img-mobile img {
    max-width: 90%;
  height: auto;
  position: absolute;
  top: -800px;
  left:-10%;
  z-index: 1;
  
}

.general-div{
  margin-top: 80px;
}

.general-div h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  left: 45%;
  padding-top: 40px;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
}

.general-info-div{
  position: absolute;
  margin: 0;
  top: 50%;
  left:58%;
  width: 40vw;
  font-weight: bold;
  
}

.general-info-div h2,p{
  margin: 5px;
}

.general-info-div h2{
  font-family: 'Bangers', cursive;
  border-bottom: 2px solid red;
}

.general-comics h2 {
  font-family: 'Bangers', cursive;
  border-bottom: 2px solid red;
  width: 30vw;
  position: relative;
  left: 15vw;
}

.general-comics-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  
}

.general-comics-list li {
  list-style: none;
  text-align: center;
  width: 250px;
  margin: 10px;
 
  
}



.general-comics-list li a {
  text-decoration: none;
  color: black;
}


.general-comics-list img {
  margin: 5px;
}



.general-comics-list li p {
  font-weight: bold;
}


/* --------------------------- Tablet ---------------------------- */

@media screen and (min-width: 650px) {

  .spiderman-img-mobile{
    width: 100vw;
    height: auto;
    
    background-color: white;
    background-image: -webkit-linear-gradient(-55deg, red 50%,white 50%);
    min-height: 700px;
    
    
}
  
  .general-div h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    width: 50%;
    left: 45%;
    padding-top: 40px;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
  }

  .spiderman-img-mobile img {
    max-width: 600px;
    width: 80% ;
    height: auto;
    position: absolute;
    top: -800px;
    left:-5vw;
    z-index: 1;
  
}

}

/* --------------------------- PC ---------------------------- */

@media screen and (min-width: 950px) {
   
 

  .general-comics-list img {
    margin: 5px;
    filter: grayscale(100%);
  }

  .spgeneralider-comics-list img:hover {
    margin: 5px;
    filter: grayscale(0%);
    transition: all 0.5s;
  }

  .spiderman-img-mobile{
    width: 100vw;
    height: auto;
    
    background-color: white;
    background-image: -webkit-linear-gradient(-60deg, red 50%,white 50%);
    min-height: 850px;
}

    .spiderman-img-mobile img {
      max-width: 650px;
      width: 80% ;
      top: -800px;
      left: 8%;
      
      

    }

    .general-div h1 {
    color: white;
    font-size: 4rem;
    top: 100px;
    }

    .general-info-div{

    top: 60%;
    left:60%;
    width: 30vw;


    }

    }

/* --------------------- Large PC ---------------------------*/

    @media screen and (min-width: 1200px) {
      

      .general-comics-list img {
        margin: 5px;
        filter: grayscale(100%);
      }

      .general-comics-list img:hover {
        margin: 5px;
        filter: grayscale(0%);
        transition: all 0.5s;
      }

      .general-comics h2{
        font-size:2rem ;
      }

      .spiderman-img-mobile{
        width: 100vw;
        height: auto;
        
        background-color: white;
        background-image: -webkit-linear-gradient(-70deg, red 50%,white 50%);
        min-height: 850px;
    }

    .spiderman-img-mobile img {
      max-width: 700px;
      width: 80% ;
      top: -800px;
      left: 8%;
      
      

    }

    .general-div h1 {
    color: white;
    font-size: 4rem;
    top: 100px;
    }

    .general-info-div{

    top: 60%;
    left:50%;
    width: 40vw;


    }
    .general-info-div h2{
      font-size: 3rem;
    }

    .general-info-div p{
      font-size: 1.5rem;
    }

}